.brands {
  border-top: 1px solid $color-highlight-lighten;
}

.brands-cards {
  position: relative;
  margin-inline-end: calc(-1 * var(--container-offset));

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    grid-auto-rows: 72px;
    row-gap: 16px;
    column-gap: var(--container-offset);
    max-height: calc(72px * 2 + 16px);
    margin-block-end: 24px;
    overflow-y: hidden;
    transition: max-height 0.5s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 24px;
    height: calc(100% - 34px);
    background: $gradient-background-overflow;
  }

  &__list {
    margin-inline-end: calc(-1 * var(--container-offset));
  }

  &__list--shown {
    max-height: calc(72px * 4 + 16px * 3);
  }
}

.brand-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border: 1px solid $color-input-border;
  border-radius: 6px;
  padding: 16px;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .brands-cards {
    &__item {
      width: 240px !important;
    }
  }
}

@media screen and (min-width: $screen-md) {
  .brands-cards {
    margin-inline-end: 0;

    &::after {
      display: none;
    }

    &__list {
      margin-inline-end: 0;
    }
  }
}
