.brands {
  border-top: 1px solid #d9fff5;

  &__title {
    margin-block-end: 16px;
  }

  &-cards {
    position: relative;
    margin-inline-end: calc(-1 * var(--container-offset));
  }

  &-cards__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    grid-auto-rows: 72px;
    row-gap: 16px;
    column-gap: var(--container-offset);
    max-height: calc(72px * 2 + 16px);
    margin-block-end: 24px;
    overflow-y: hidden;
    transition: max-height 0.5s ease;
  }

  &-cards::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 24px;
    height: 74px;
    background: linear-gradient(90deg, transparent, #ffffff);
  }

  &-cards__list {
    margin-inline-end: calc(-1 * var(--container-offset));
  }

  &-cards__list--shown {
    max-height: calc(72px * 4 + 16px * 3);
  }
}

.brand-card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
  background-color: #ffffff;

  &__image {
    max-width: 152px;
    max-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .brands {
    &-cards__item {
      width: 240px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .brand-card {
    width: initial;
    height: initial;
  }

  .brands {
    &-cards {
      margin-inline-end: 0;
    }

    &-cards::after {
      display: none;
    }

    &-cards__list {
      margin-inline-end: 0;
    }
  }
}
