.prices {
  border-top: 1px solid #d9fff5;
  padding-block-end: 40px;

  &__info {
    padding-block: 16px;
    line-height: 20px;
  }

  &__offer {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    transition: color 0.2s ease;

    &::after {
      content: '';
      display: inline-block;
      width: 7px;
      height: 12px;
      margin-inline-start: 10px;
      vertical-align: middle;
      background: url('/src/img/graphics/arrow.svg') no-repeat center;
      transition: margin 0.2s ease;
    }

    &:hover {
      color: $color-accent;

      &::after {
        margin-inline-start: 15px;
      }
    }
  }
}

.prices-cards {
  position: relative;
  margin-inline-end: calc(-1 * var(--container-offset));

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 24px;
    height: calc(100% - 34px);
    background: linear-gradient(90deg, transparent, #ffffff);
  }

  &__head {
    display: none;
    grid-template-columns: 3fr repeat(2, 0.7fr) 120px;
    align-items: center;
    gap: 16px;
    padding: 16px;
    padding-block-start: 0;
  }

  &__list {
    display: flex;
    gap: var(--container-offset);
    margin-block-end: 24px;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
  }

  &__list {
    margin-inline-end: calc(-1 * var(--container-offset));
  }

  &__list--shown {
    max-height: calc(160px * 2 + 16px);
  }
}

.price-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  height: 200px;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  padding: 16px;
  background-color: #ffffff;

  &__pre-title {
    display: inline-block;
    margin-block-end: 4px;
    opacity: 0.7218;
    color: #7e7e82;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }

  &__title {
    overflow: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-overflow: ellipsis;
  }

  &__group {
    &--title {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &--price {
      max-width: 110px;
      white-space: nowrap;
    }

    &--time {
      max-width: 90px;
      white-space: nowrap;
    }
  }

  &__link {
    position: absolute;
    width: 120px;
    padding-inline: 12px;
    inset-inline-end: 16px;
    inset-block-end: 16px;

    &::after {
      right: 12px;
    }
  }
}

@media screen and (max-width: 767px) {
  .prices-cards {
    &__item {
      width: 260px !important;
    }
  }
}

@media screen and (min-width: 768px) {
  .price-card {
    display: grid;
    grid-template-columns: 3fr repeat(2, 0.7fr) 120px;
    align-items: center;
    width: initial;
    height: auto;
    border: none;
    border-radius: 0;
    padding-inline: 0;

    &:not(:last-child) {
      border-bottom: 1px solid #eaeaea;
    }

    &__pre-title {
      margin: 0;
    }

    & &__pre-title {
      display: none;
    }

    &__link {
      position: relative;
      inset: initial;
    }
  }

  .prices-cards {
    margin-inline-end: 0;

    &::after {
      display: none;
    }

    &__head {
      display: grid;
    }

    &__list {
      flex-direction: column;
      gap: 0;
      margin-inline-end: 0;
      border-radius: 6px;
      padding-inline: 16px;
      background-color: #ffffff;
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .prices-cards {
    &__head {
      grid-template-columns: 45% 1fr 0.825fr 120px;
      padding-inline: 24px;
    }

    &__list {
      padding-inline: 24px;
    }
  }

  .price-card {
    grid-template-columns: 45% 1fr 0.825fr 120px;
  }
}
